<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Info Page</title>
</head>
<body style="background-color:rgb(7, 7, 7);">
    <h1 style="color: aliceblue;">Description of Web application </h1>
    <p style="color:rgb(222, 137, 20);"> Web application for retriving CVE Information from JSON file</p>
    <h2 style="color: aliceblue;">Created by:</h2>
        <ul>
            {% for user in info['creator'] %}
                <li>
                    <strong style="color:rgb(222, 137, 20);">Username:</strong> <span style="color:aliceblue;">{{ user.username }}</span> <br>
                    <strong style="color: rgb(222, 137, 20);" >Position:</strong> <span style="color:aliceblue;">{{ user.position }}</span>
            {% endfor %}
    </ul>
</body>
</html>
